/* Poppins Font(English) */
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

/* Tiro Bangla(Bangla) */
@import url('https://fonts.googleapis.com/css2?family=Tiro+Bangla:ital@0;1&display=swap');

/* Hind Siliguri(Bangla) */
@import url('https://fonts.googleapis.com/css2?family=Hind+Siliguri:wght@300;400;500;600;700&display=swap');

/* Inter(Bangla) */
@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

/* Poppins Font(English) */
  
  .pre {
    font-family: "Poppins", sans-serif;
    font-weight: 400;
    font-style: normal;
  }
  
  .pme {
    font-family: "Poppins", sans-serif;
    font-weight: 500;
    font-style: normal;
  }
  
  .psbe {
    font-family: "Poppins", sans-serif;
    font-weight: 600;
    font-style: normal;
  }
  
  .pbe {
    font-family: "Poppins", sans-serif;
    font-weight: 700;
    font-style: normal;
  }

  /* Tiro Bangla(Bangla) */
  .trb {
    font-family: "Tiro Bangla", serif;
    font-weight: 400;
    font-style: normal;
  }
  
  .tib {
    font-family: "Tiro Bangla", serif;
    font-weight: 400;
    font-style: italic;
  }
  

  /* Hind Siliguri(Bangla) */
  
  .hrb {
    font-family: "Hind Siliguri", sans-serif;
    font-weight: 400;
    font-style: normal;
  }
  
  .hmb {
    font-family: "Hind Siliguri", sans-serif;
    font-weight: 500;
    font-style: normal;
  }
  
  .hsbb {
    font-family: "Hind Siliguri", sans-serif;
    font-weight: 600;
    font-style: normal;
  }
  
  /* Inter(Bangla) */
  
.ire {
  font-family: "Inter", sans-serif;
  font-weight: 400;
  font-style: normal;
}

.ime {
  font-family: "Inter", sans-serif;
  font-weight: 500;
  font-style: normal;
}

.ibe {
  font-family: "Inter", sans-serif;
  font-weight: 700;
  font-style: normal;
}